<!DOCTYPE html>
<html>
    <head>
         <title>App2Kids</title>
         <meta charset="utf-8">
         <meta name="viewport" content="width=device-width, initial-scale=1">
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
         <link rel="stylesheet" type="text/css" href="/posts.css">
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/posts">App2Kids</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                         <% if(!currentUser){ %>
                        <li class="nav-item active">
                            <a class="nav-link" href="/Login">Login
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/register">Signup</a>
                        </li>
                         <% }else { %>
                          <li class="nav-item">
                              <a class="nav-link" href="#">Signed In As <%=currentUser.username %></a>
                          </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/logout">Logout</a>
                        </li>
                        <% } %>
                    </ul>
                </div>
             </div>    
    </nav>
        <% if(error && error.length>0) { %>
        <div class="alert alert-danger" role="alert"><p><%= error %></p></div>
        <% } %>
         <% if(success && success.length>0) { %>
         <div class="alert alert-success" role="alert"><p><%= success %></p></div>
         <% } %>
         
   