<% include ../partials/header %>
<div class="container">
    <div class="row">
        <h1 style="text-align:center">Create a new  post</h1>
        <div style=" width:30%; margin:30px auto">
            <form action="/posts" method="POST">
                <div class="form-group">
                    <label>Title</label>
                    <input class="form-control" type="text" name="title" placeholder="title">
                </div>
                 <div class="form-group">
                    <label>Category</label>
                    <input class="form-control" type="text" name="category" placeholder="category">
                </div>
                 <div class="form-group">
                    <label>Image:</label>
                    <input class="form-control" type="text" name="image[0]" placeholder="image url">
                </div>
                 <div class="form-group">
                    <label>Shortndescription</label>
                    <input class="form-control" type="text" name="shortDescription" placeholder="Short description">
                </div>
                <div class="form-group">
                    <label>Image:</label>
                    <input class="form-control" type="text" name="image[1]" placeholder="image url">
                </div>
                <div class="form-group">
                <label for="exampleFormControlTextarea1">Description</label>
                <textarea class="form-control" name="description[0]" rows="3"></textarea>
                  </div>
                   <div class="form-group">
                    <label>Image:</label>
                    <input class="form-control" type="text" name="image[2]" placeholder="image url">
                </div>
                 <div class="form-group">
                <label for="exampleFormControlTextarea1">Description</label>
                <textarea class="form-control" name="description[1]" rows="3"></textarea>
                  </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/posts">Back to posts</a>
        </div>
    </div>
</div>
<% include ../partials/footer %>